body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #131620;
  color: #fff;
}

h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h6 {
  font-size: 0.8rem;
}

.d-flow-root {
  display: flow-root;
}

// Custom Buttom styles
.btn {
  font-family: "Open Sans", sans-serif;
  padding: 0.375rem 1rem;
  font-size: 0.8rem;
}

// Custom Badge styles
.badge {
  padding: 0.5rem 0.65rem;
}

// Custom Color styles
.btn-dark,
.badge-dark {
  background-color: #fff;
}

.details {
  h5 {
    font-family: "Open Sans", sans-serif;
  }

  hr {
    border: 0.1px dashed $gray-400;
  }

  p,
  span,
  li,
  a {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #fff;
  }

  .img-shadow {
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 15px 2px;
  }

  .author {
    font-size: 0.7rem;
    color: $gray-500;
    text-transform: uppercase;

    &::before {
      content: "by ";
      font-size: 0.6rem;
      text-transform: lowercase;
    }
  }
}
